* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  background-color: #eee;
  min-height: 100vh;
}

.clock {
  width: 30rem;
  height: 30rem;
  background-color: #fff;
  border-radius: 50%;
  border: solid 3px #343a40;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #efefef,
    inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-2px);
}

.clock-shield {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #070707;
  z-index: 9999;
}

.hand {
  width: 48%;
  height: 4px;
  background: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, 0);
  transform-origin: 0;
  transform: rotate(-90deg);
  border-radius: 9px;
  transition: all 0.5s;
}

.min-hand {
  width: 42%;
}

.hour-hand {
  width: 36%;
}
